@import "tailwindcss";

@theme {
  --color-dark : #0E0E0E;
  --color-prim : #FFCAFD;
  --color-scnd : #9F97CA;
}

.scrollbar-hide::-webkit-scrollbar {
  display : none;
}

.scrollbar-hide {
  -ms-overflow-style : none;
  scrollbar-width : none;
}

body {
  font-family: century-gothic, sans-serif;
}